 @font-face {
     font-family: "Boots And Spurs";
     src: url("../Fonts/BootsAndSpurs.ttf") format("truetype");
 }
 
 body {
     font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
     min-height: 100vh;
     margin: 0px;
     display: grid;
     grid-template-rows: auto 1fr auto;
 }
 
 h1,
 h2,
 .logo {
     font-family: "Boots And Spurs", BDR-mono, Roboto, Tahoma, Geneva, Verdana, sans-serif;
 }
 
 .product-list h2 {
     font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
 }
 
 header {
     display: flex;
     align-items: center;
 }
 
 nav {
     margin-left: 25px;
 }
 
 nav ul {
     padding: 0px;
 }
 
 nav li {
     display: inline-block;
 }
 
 header,
 footer {
     background-color: #202020;
     color: #fff;
 }
 /*Links*/
 
 a {
     text-decoration: none;
 }
 
 header a {
     color: #fff;
     text-decoration: none;
 }
 
 .cta {
     background-color: #bb0000;
     color: #fff;
     font-size: 1em;
     text-transform: uppercase;
     padding: 10px 80px;
     border-radius: 5px;
 }
 
 .cta-small {
     padding: 8px 20px;
     font-size: 0.8em;
     grid-column: 2;
     grid-row: 2;
     min-width: 51.2px;
     text-align: center;
     margin-top: 5px;
 }
 
 .active {
     text-decoration: underline;
 }
 
 .reviews {
     background-color: #e8e8e8;
 }
 
 .products {
     background-color: #fbfbfb;
     display: grid;
     grid-template-columns: 1fr auto;
     align-items: center;
 }
 
 .products img {
     grid-column: -1/1;
 }
 
 .products h2,
 .products h3,
 .products p {
     grid-column: 1;
     font-size: 0.9em;
     margin: 5px;
 }
 
 .products--sale {
     display: flex;
 }
 
 .old-price {
     text-decoration: line-through;
 }
 
 .cta-sale {
     background-color: #127300;
 }
 
 footer {
     text-align: center;
     padding: 20px;
 }
 /*Home-page*/
 
 .welcome {
     background-image: url(../Images/home-header.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position-x: right;
     background-position-y: bottom;
     min-height: 70vh;
     position: relative;
 }
 
 .welcome__content {
     position: absolute;
     text-align: center;
     top: 100px;
     left: 100px;
 }
 
 .selling-points {
     margin: 50px auto;
 }
 
 .reviews__content,
 .selling-points {
     max-width: 1000px;
     display: flex;
 }
 
 .selling-points__images {
     border-radius: 100px;
     width: 100%;
 }
 
 .selling-points>*,
 .reviews__content>* {
     flex: 1;
 }
 
 .reviews {
     text-align: center;
     padding: 50px;
 }
 
 .reviews__content {
     text-align: left;
     margin: auto;
 }
 
 .reviews__content div {
     margin: 50px;
 }
 
 .review__images {
     width: 80px;
     border-radius: 50%;
     float: right;
 }
 
 .reviews__name {
     display: block;
 }
 
 .featured {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     max-width: 1000px;
     margin: 50px auto;
     grid-gap: 10px;
 }
 
 .featured h2 {
     grid-column: -1/1;
 }
 
 .featured img {
     width: 100%;
 }
 /*Contact-page*/
 
 input,
 select,
 textarea {
     /*Utseende og avstand på og mellom tekstfeltene*/
     border: 1px solid #c4c4c4;
     border-radius: 5px;
     margin: 10px;
     padding: 10px;
 }
 
 textarea {
     /*Skriveboblen i skjemaet*/
     height: 65%;
 }
 
 .contact {
     /*Plasserer content i klassen contact. Bruker ikke mer enn 1000px, marginen er alltid 50 px, og plassering av innhold er i senter*/
     max-width: 1000px;
     margin: 50px auto;
     text-align: center;
 }
 
 .form-wrapper {
     /*display flex gjør at alt blir plassert inni en boks. align plasserer alt i klassen til venstre hvis skjermen blir mindre*/
     display: flex;
     text-align: left;
 }
 
 .form-wrapper>* {
     /*< * betyr alt innenfor denne klassen. Display gjør at du kan operere i en flexbox. flex: 1 viser til hvor mange kolonner boksen er delt inn i, her en. flex-direction viser hvilken retning, her kolonner.*/
     flex: 1;
     display: flex;
     flex-direction: column;
 }
 /* Product Specific Page*/
 
 .product-specific {
     display: flex;
     max-width: 1000px;
     margin: 50px auto;
 }
 
 .product-specific>* {
     flex: 1
 }
 
 .product-specific__details {
     padding: 0px 30px;
 }
 
 .product-specific__details a {
     display: block;
     width: 95.767px;
     margin: auto;
 }
 
 .product-specific__price {
     font-size: 1.5em;
 }
 
 .product-image {
     width: 100%;
 }
 
 .product-image_thumbnails {
     display: flex;
     justify-content: space-between;
     gap: 10px;
     margin-top: 5px;
 }
 /* Guitars Page*/
 
 .guitars {
     max-width: 1000px;
     margin: auto;
 }
 
 .product-list {
     display: grid;
     grid-template-columns: repeat(3, minmax(0, 1fr));
     gap: 20px;
 }
 
 .products img {
     width: 100%;
 }